In [1]:
# Figure out a function to do set shattering in Python.

In [39]:
from itertools import combinations, combinations_with_replacement

In [2]:
a_set = set([1,2,2,'three','three','four'])

In [9]:
a_set

{1, 2, 'four', 'three'}

In [4]:
# First step is to create a function which constructs the power set.

In [36]:
def powerset(input_set):
    '''Takes a set as input argument and outputs the powerset of that set.'''
    powerset = set(input_set)
    for i in input_set:
        powerset = powerset.union([frozenset([i,*powerset])])
    return powerset

In [37]:
pwr = powerset(a_set)

In [38]:
pwr

{1,
 2,
 'four',
 frozenset({1, 2, 'four', 'three'}),
 frozenset({1,
            2,
            'four',
            frozenset({1, 2, 'four', 'three'}),
            frozenset({1,
                       2,
                       'four',
                       frozenset({1, 2, 'four', 'three'}),
                       'three'}),
            'three'}),
 frozenset({1, 2, 'four', frozenset({1, 2, 'four', 'three'}), 'three'}),
 frozenset({1,
            2,
            'four',
            frozenset({1, 2, 'four', 'three'}),
            frozenset({1,
                       2,
                       'four',
                       frozenset({1, 2, 'four', 'three'}),
                       frozenset({1,
                                  2,
                                  'four',
                                  frozenset({1, 2, 'four', 'three'}),
                                  'three'}),
                       'three'}),
            frozenset({1,
                       2,
                       'four',
                       frozenset({1, 2, 'four', 'three'}),
                       'three'}),
            'three'}),
 'three'}

In [26]:
len(pwr)

8

In [7]:
a_set.union(set([12]))

{1, 12, 2, 'four', 'three'}

In [8]:
a_set

{1, 2, 'four', 'three'}

In [9]:
set.union?

In [10]:
set('th')

{'h', 't'}

In [11]:
for i in a_set:
    print(a_set.union(frozenset([i])))

{1, 2, 'three', 'four'}
{1, 2, 'three', 'four'}
{1, 2, 'three', 'four'}
{1, 2, 'three', 'four'}

In [19]:
for i in a_set:
    print(a_set.union([frozenset([i])]))

{1, 2, 'four', frozenset({1}), 'three'}
{1, 2, frozenset({2}), 'four', 'three'}
{1, 2, frozenset({'three'}), 'four', 'three'}
{1, 2, frozenset({'four'}), 'four', 'three'}

In [20]:
a_set

{1, 2, 'four', 'three'}

In [23]:
set([1]).issubset(a_set)

True

In [16]:
next(a_set)

TypeError: 'set' object is not an iterator

In [52]:
for r in range(len(a_set)):
    print(combinations(a_set,r))

AttributeError: 'itertools.combinations' object has no attribute 'take'

In [59]:
com = combinations(a_set,3)

In [64]:
next(com)

(2, 'four', 'three')